<!DOCTYPE html>
<html>
<head>
	<title>Clothing Details</title>
</head>
<body>
	<h3> You should fill in the details of the clothes 
	You have</h3>
	<h3> There would be many options given.In
		case You dont have a particular type of shoe,
	please mention against the given option</h3>
	<h3> You should give some detail about your lifestyle. It will help us in providing You with better suggestions</h3>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="submit">
	</form>

</body>
</html>